= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'https://maps.google.com/maps/api/js?key=AIzaSyAXNCln5VE_pjAlJM0U2megyXwydjSNfAk&libraries=places&language=jp&region=jp'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

= csrf_meta_tags
= display_meta_tags(default_meta_tags)
