// Place all the styles related to the reminds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reminds main {
  background: #eee;
  .label.required {
    ::after {
      border: 1px solid #f44336;
      border-radius: 2px;
      color: #f44336;
      content: '必須';
      font-size: 80%;
      height: 20px;
      margin-left: 10px;
      padding: 2px;
      width: 20px;
    }
  }

  .map-container {
    position: relative;
    height: 150px;

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .address {
    padding: 10px 0;
  }

  .form-header {

  }
  .form-body {
    background: #fff;
    padding: 10px;
  }

  .form-footer {
    background: #fff;
    padding: 10px;
    margin: 20px 0;

    #toggle-button {
      position: absolute;
      right: 5px;
      top: -5px;
      span {
        font-family: FontAwesome;

        &:after {
          content: '\f107';
        }
        &.is-open:after {
          content: '\f106';
        }
      }
    }

    #toggle-body {
      padding: 10px 0;
      display: none;

      &.is-open {
        display: block;
      }
    }
  }
}

.candidates-field {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  position: relative;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #bcbcbc;
  }

  .table {
    width: 100%;

    .attendance {
      background-color: #fff;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      &.bad {
        background-image: image-url('answers/bad-checked.png');
      }
      &.soso {
        background-image: image-url('answers/soso-checked.png');
      }
      &.good {
        background-image: image-url('answers/good-checked.png');
      }
      &.highlighted {
        background-color: rgb(216, 253, 97);
      }
    }
  }
}

.remind-field {
  padding: 10px;

  .remind-body {
    background: #fff;
    padding: 10px;
  }

  .remind-date {
    padding: 10px;

    .level-item {
      width: 50%;

      .heading {
        font-size: 20px;
      }
      .title {
        font-size: 15px;
      }
    }
  }

  .remind-activate {
    background: #fff;
    padding: 10px;
  }
}

.remind-items {
  margin: 4px 0px;
  .item {
    display: -webkit-flex;
    display: flex;
    padding: 12px;
    //margin: 4px 0px;
    background: #fff;
    overflow: hidden;
    .subtitle {
      color: #363636;
      font-weight: bold;
      font-size: 14px;
      width: 140px;
      margin: 0px;
    }
    .content {
      width: 0px;
      flex-grow: 1;
    }
    .url {
      font-size: 8px;
    }
  }
}

.xdsoft_inline {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  .xdsoft_datepicker {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
  }
}
