// Place all the styles related to the reminds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reminds main {
  background: #eee;
  .label.required {
    ::after {
      border: 1px solid #f44336;
      border-radius: 2px;
      color: #f44336;
      content: '必須';
      font-size: 80%;
      height: 20px;
      margin-left: 10px;
      padding: 2px;
      width: 20px;
    }
  }

  .map-container {
    position: relative;
    height: 150px;

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .address {
    padding: 10px 0;
  }

  .form-header {

  }
  .form-body {
    background: #fff;
    padding: 10px;
  }
}


.xdsoft_inline {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  .xdsoft_datepicker {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
  }
}
