// Place all the styles related to the reminds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reminds main {
  background: #eee;
  .container {
    padding: 10px;
    padding-bottom: 50px;

    .map-container {
      position: relative;
      height: 150px;

      #map {
        width: 100%;
        height: 100%;
      }
    }

    .address {
      padding: 10px 0;
    }
  }
}

body {
  padding-bottom: 127px;
}

.ad {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  a {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
