.sites {
  .container {
    padding: 10px;
  }
  header {
    background: rgba(255, 255, 255, 0.49) !important;
  }

  .header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
  }
  .is-outlined {
    background-color:transparent;
    color:#fff;
  }
  .hero-cta {
    padding: 30px 0;
  }

  .panel {
    height: 200px;
    position: relative;
    .section {
      background-color: #fff;
      padding: 40px 20px;
    }
    .panel-block {
      height: 100%;
      color: #222324;
      display: block;
      line-height: 16px;
      padding: 10px;
    }
    .panel-footer {
      background: #ddd;
      position: absolute;
      bottom: 0px;
      height: 30px;
      left: 0;
      right: 0;
    }
  }

  .panel-block.section p {
    font-size: 17px;
    line-height: 1.4;
    color:#95A5A6;
  }
  .section.main {
    background-color:#F0F0F0;
  }
  .icon-block {
    font-size: 4em;
  }
}


.sites {

  .invite-link {
    img {
      height: 36px;
    }
  }

  .feature-hero {
    padding: 1em;

    .columns {
      border-bottom: solid 3px #f4f4f4;
    }

    .with-image {
      padding: 2em;

      figure {
        border-color: #dddddd;
        border-radius: 100%;
        border: solid 1px;
        img {
          border-radius: 100%;
          padding: 0.5em;
        }
      }
      @media screen and (max-width: 640px) {
        padding: 1em;
      }
    }

    .with-description {
      text-align: center;
      padding: 3em;
      padding-top: 8em;
      @media screen and (max-width: 640px) {
        h2 {
          font-size: 2em;
        }
        padding: 1em;
        padding-top: 3em;
      }
    }
  }

  .cando-hero {
    padding: 2em;
    @media screen and (max-width: 640px) {
      padding: 0;
    }
    .cando {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        text-decoration: none;
        display: inline-block;
        margin: 0 0 3em 0;
        padding: 0.8em 0 0 4em;
        position: relative;

        .icon {
          background: #4acaa8;
          border-radius: 100%;
          color: #ffffff;
          height: 2em;
          left: 0;
          line-height: 2em;
          position: absolute;
          text-align: center;
          top: 0;
          width: 2em;
          display: inline-block;
        }
        .content {
          height: 100%;
        }
      }
    }
  }

  .contact {
    border-top: solid 6px #f4f4f4;
    padding: 1em;
    @media screen and (max-width: 640px) {
      padding: 0;
    }

    .container {
      padding: 4em 0 2em 0;
      width: 80%;
      margin: 0 auto;
      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 2em;
      }

      h3 {
        font-size: 1.75em;
        line-height: 1.75em;
      }
      p {
        margin: 0 0 2.25em 0;
      }
    }
  }
}
